<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Внимание: тут КОТИК!</title>
</head>
<body>
    <h2>Ты прищёл? а я тебя ждал</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH9iGXRt8mjL6PTZ2_ApjH8-_66TmWf9_oUg&usqp=CAU">
    <br/>
    <b>воот</b>
    <br/>
    <br><p style="border:1px solid #555; border-radius:5px; width: 150px; text-align:center;  margin:0px; padding:5px;
        color: black" >
        <a href="https://habr.com/ru/company/htmlacademy/news/t/675084/">Нажми чтобы увидеть сю страницу</a></p>
    <br>
    <br><p style="border:1px solid #555; border-radius:5px; width: 150px; text-align:center;  margin:0px; padding:5px;
        color: black" >
        <a href="timi.html">нажми чтобы выйти назад</a></p>

</body>
</html>