<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Amina</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"href="">
    </head>
    <body>

<div class="block-a">
    <img alt="" src="https://hsto.org/r/w32/getpro/habr/avatars/0fc/a88/7ee/0fca887ee7a5ae92db2dea8e53065949.png">
    <b class="text"> htmlacademy <a class="text1">5 июля в 13:13</a></b>
</div>
        <h2>С чего начать карьеру в IT: лайвы <em>HTML</em>  Academy в июле</h2>
        <p>Блог компании HTML Academy, Разработка веб-сайтов*, CSS*, HTML*</p>
        <br><img src="https://hsto.org/r/w1560/getpro/habr/upload_files/c3e/a9e/817/c3ea9e8172fcb46ae359dcdb46a3863a.png">
    <br/>


        <div>
            <p><b>Привет, Хабр!</b>Мы не знаем, как у вас, но в Питере жара. Мозги плавятся настолько, что тяжело<br>
                отличить джаву от джаваскрипта, а вместо foo хочется в bar. Но мы всё-таки сделаем усилие и<br>
                расскажем всем желающим о самых легких путях во фронтенд.</p>
            <br/>
            Потому что о том, зачем туда идти, все уже знают и посмеиваются над этим постом со своих<br>
            гамаков и шезлонгов.
        </div>

        <br><p style="border:1px solid #555; border-radius:5px; width: 150px; text-align:center;  margin:0px; padding:5px;
        color: black" >
        <a href="media.html"> Читать далее</a></p>




    </body>
<br><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
</html>